# Application
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
GOOGLE_SITE_VERIFICATION=""
ADMIN_EMAIL=""

# Database
DATABASE_URL="mysql://user:password@localhost:3306/afribit"

# BTCPay Server
BTCPAY_HOST="https://btcpay.example.com"
BTCPAY_STORE_ID=""
BTCPAY_API_KEY=""
BTCPAY_WEBHOOK_SECRET=""

# Email
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM="info@example.com"

# hCaptcha
NEXT_PUBLIC_HCAPTCHA_SITE_KEY=""
HCAPTCHA_SECRET=""